* {
  	box-sizing: border-box;
  	margin: 0;
  	padding: 0;
  	color: #000000;
}

body {
  	display: flex;
  	position: relative;
  	flex-direction: column;
  	justify-content: center;
  	align-items: center;
  	height: 100vh;
  	margin: 0;
  	gap: 32px;
	background-image: url('../../public/assets/splash.png');
	background-size: 100vw 100vh;
}

h1, button {
	color: #ffffff;
	font-family: 'Kristen ITC', arial, serif;
  	transition: all 0.2s ease;
}

h1 {
	font-size: 64px;
}

button {
	font-size: 36px;
	background-color: #FF5700;
	border: 2px solid #e64e00;
	border-radius: 8px;
	padding: 0px 8px;
	outline: none;
	cursor: pointer;
}

button:hover {
	background-color: #e64e00;
}